  <% if message.user == user %>
  <div class="flex justify-end mb-4">
    <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
      <%= message.body %>
      <div class='text-xs'>
        <%= message.user.email %>
      </div>
      <div class='text-xs'>
        <%= l(message.created_at, format: :short) %>
      </div>
    </div>
  </div> 
  <% else %>

<div class="flex justify-start mb-4">
  <div class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
    <%= message.body %>
    <div class='text-xs'>
      <%= message.user.email %>
    </div>
    <div class='text-xs'>
      <%= l(message.created_at, format: :short) %>
    </div>
  </div>
</div>
<% end %>