<div class="w-full h-auto flex flex-col md:flex-row">
  <div class="w-full md:w-5/12 my-8">
    <div class="min-h-0 flex items-center justify-center mx-6 md:mx-12">
      <div class="max-w-xl w-full">
        <div class="sm:mb-4 mb-2">
          <h2 class="mt-6 text-left sm:text-3xl text-xl leading-9 font-extrabold text-gray-900"><%= t('.registration') %></h2>
        </div>
        <div class="mb-4">
          <%= link_to t('.log_in_path'), new_user_session_path, class: 'inline-block text-xs sm:text-sm text-indigo-600 align-baseline hover:text-indigo-800' %>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% devise_registration_error_messages %>
          <div class="rounded-md">
            <div class="mt-4">
              <%= f.label :email, class: 'text-md md:text-sm text-gray-700 font-medium' %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'appearance-none rounded-md relative block w-full mt-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 text-md md:text-sm' %>
            </div>
            <div class="mt-4">
              <%= f.label :password, class: 'text-md md:text-sm text-gray-700 font-medium' %>
              <%= f.password_field :password, autocomplete: 'new-password', class: 'appearance-none rounded-md relative block w-full mt-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 text-md md:text-sm' %>
            </div>
            <div class="mt-4 mb-5">
              <%= f.label :password_confirmation, class: 'text-md md:text-sm text-gray-700 font-medium' %>
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'appearance-none rounded-md relative block w-full mt-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 text-md md:text-sm' %>
            </div>
          </div>
          <div class="pt-5 border-gray-300 border-t">
            <%= f.submit t('.submit_button'), class: 'relative w-full py-2 px-4 border border-transparent text-md md:text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
